span{
  text-decoration: underline;
  font-style: italic;

}


.infos{
display: flex;
flex-direction: column;
}

.infos a{
  margin-bottom: 4%;
  text-decoration: none;
  color: black;
}


li {
  text-decoration: none;
  list-style: none;

}

#btnContact{
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 1.5%;
  text-decoration: none;
  color: black;
  background: #cbccc5;

}
#btnContact:hover{
  background: #8f908e;
  color: #000000;
  transition: all ease-in 0.2s;
}
#btnContact:active{
  background: #9e9f9c;
}

#btnFb{
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 1.5%;
  text-decoration: none;
  color: white;
  background: #3f85f0;
}
#btnFb:hover{
  background: #0e63f8;
  color: #000000;
  transition:all ease-in 0.2s;
}
#btnFb:active{
  background: #f0eed9;
}
