


.header{
  text-align: center;
  height: auto;
  width: auto;
  background: rgba(31, 170, 18,0.8);
  padding: 0.7%;
}


body{

  margin:0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('../images/imageFondFloue.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

}

@media screen and (min-width:920.1px) {
  #bienEtre, #qualite {
    margin-left: 45%;
  }
  #lamotte{
    margin-left: 65%;
  }

.custom-slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.custom-slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.custom-slides input { display: none; }

.custom-slide-container {
  display: block;
  max-width: 600px;
  height: auto;
 }

.custom-slide {
    top: 0;
    opacity: 0;
    max-width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.custom-slide img {
    width: 100%;
    height: 100%;
}


.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.custom-slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .custom-slide-container  .custom-slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .custom-slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7 {
	background: rgba(0, 0, 0, 0.8);
}
}
@media screen and (max-width:920px){

  #bienEtre, #qualite,#lamotte{
    max-height: 380px;
  }
  .custom-slides {
      padding: 0;
      max-width: 478px;
      height: 381px;
      display: block;
      margin: 0 auto;
      position: relative;
  }

  .custom-slides * {
      user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
  }

  .custom-slides input { display: none; }

  .custom-slide-container {
    display: block;
    max-width: 600px;
    height: auto;
   }

  .custom-slide {
      top: 0;
      opacity: 0;
      max-width: 609px;
      height: 420px;
      display: block;
      position: absolute;
      transform: scale(0);
      transition: all .7s ease-in-out;
  }

  .custom-slide img {
      width: 100%;
      height: auto;
  }

  .nav label.over{
    opacity: 0.6;
  }
  .nav label {
      width: 200px;
      height: 100%;
      display: none;
      position: absolute;

  	  opacity: 0;
      z-index: 9;
      cursor: pointer;

      transition: opacity .2s;

      color: #FFF;
      font-size: 156pt;
      text-align: center;
      line-height: 380px;
      font-family: "Varela Round", sans-serif;
      background-color: rgba(255, 255, 255, .3);
      text-shadow: 0px 0px 15px rgb(119, 119, 119);
  }

  .custom-slide:hover + .nav label { opacity: 0.5; }

  .nav label:hover { opacity: 1; }

  .nav .next { right: 0; }

  input:checked + .custom-slide-container  .custom-slide {
      opacity: 1;

      transform: scale(1);

      transition: opacity 1s ease-in-out;
  }

  input:checked + .custom-slide-container .nav label { display: block; }

  .nav-dots {
  	width: 100%;
  	bottom: 9px;
  	height: 11px;
  	display: block;
  	position: absolute;
  	text-align: center;
  }

  .nav-dots .nav-dot {
  	top: -5px;
  	width: 11px;
  	height: 11px;
  	margin: 0 4px;
  	position: relative;
  	border-radius: 100%;
  	display: inline-block;
  	background-color: rgba(0, 0, 0, 0.6);
  }

  .nav-dots .nav-dot:hover {
  	cursor: pointer;
  	background-color: rgba(0, 0, 0, 0.8);
  }

  input#img-1:checked ~ .nav-dots label#img-dot-1,
  input#img-2:checked ~ .nav-dots label#img-dot-2,
  input#img-3:checked ~ .nav-dots label#img-dot-3,
  input#img-4:checked ~ .nav-dots label#img-dot-4,
  input#img-5:checked ~ .nav-dots label#img-dot-5,
  input#img-6:checked ~ .nav-dots label#img-dot-6,
  input#img-7:checked ~ .nav-dots label#img-dot-7 {
  	background: rgba(0, 0, 0, 0.8);
  }
}

#imageAccueil{
  max-width: 60%;
  height: auto;
  margin: 2%;
}

#logoTop{
  margin: 1%;
  border: 1px;

}

#navbar a:hover{
  background-color: #f3ff33;
}

#navbar a:active{
  background-color: #ffdd33;
  border: 1px solid #000000;
  border-radius: 10px;
}

#navbar a{

  border-radius: 10px;
}

#navbar{
  background: rgba(31, 170, 18,0.8);
  padding: 0.7%;
  text-align: center;
  z-index: 1000;
}


nav li a{
  text-decoration: none;
  color: black;
  padding:1.5%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;

  /* margin: 1.5%; */
}

nav li {
  list-style: none;
  display: inline;



}
ul{
  padding-right: 40px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sticky + .content {
  padding-top: 60px;
}


 /* #phHb1,#phHb2{
  height: 4%;
  width: 4%;
  padding: 0;
} */

.content {
  margin-top: 3%;
  background: rgba(255,255,255,0.8);
  margin-left: 12%;
  margin-right: 12%;
  /* border: 0.5px solid #000000; */
  border-radius: 30px;
  padding: 4%;
  text-align: center;
  z-index: 1;

}




h1{
  font-style: italic;
  /* text-decoration: underline; */
}

#mentionsLegales{
  font-size: 80%;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 1%;
  color: black;

}

#mentionsLegales:active, #mentionsLegales:hover{
  text-decoration: underline;
}


.cRetour {
  border-radius:30px;
  border: 2px solid #000000;
  padding:10px;
  font-size:200%;
  text-align:center;
  color:black;
  background:#f0eed9;
  z-index:99999;
  transition:all ease-in 0.2s;
  position: fixed;
  cursor: pointer;
  bottom: 1em;
  right: 20px;
  display: none;
}

.cRetour::before{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f0a6';
 }

.cRetour:hover{
  background:#ffdd33;
  transition:all ease-in 0.2s;
}




.conteneur
{
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
height: 0;
z-index: 0;
}

.conteneur iframe
{
left: 0;
top: 0;
height: 100%;
width: 100%;
position: absolute;
z-index: 0;


}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}
