h2{
  text-decoration: underline;
}








#ffe {
  height: 50%;
  width: 30%;
  margin: 1%;
}






#cso, #hb {

  height: 30%;
  width: 30%;
  margin: 1%;
}

#tarifImg:hover{
  opacity: 0.7;
  transition:all ease-in 0.2s;
}


/* /////////////////////////////VERSION PC //////////////////////////////// */
@media screen and (min-width:920.1px) {
  .babyPoney, .adulte,.ados, .horseball, .cso, .dressage, .cce, .pensionBox, .pensionPaddock, .ethologie, .rando{
    display: inline-flex;
  }
  h5{
  writing-mode:vertical-rl;
  -webkit-writing-mode: vertical-rl;
  }


  #babyPoneyImg{
    max-width: 30%;
    height: auto;
    margin: 2%;
  }

 #csoImg {
    max-width: 40%;
    height: auto;
    margin: 2%;
  }
  #cceImg{
    max-width: 45%;
    height: auto;
    margin: 2%;
  }
  #adulteImg{
    max-width: 40%;
    height: auto;
    margin: 2%;
  }

  #hbImg{
    max-width: 30%;
    height: auto;
    margin: 2%;
  }
   #dressageImg,  #boxImg, #paddockImg,#ethologieImg,  #enfantsImg, #randoImg{

    max-width: 35%;
    height: auto;
    margin: 2%;
  }
}
/* //////////////////////////////VERSION MOBILE ////////////////////////// */

@media screen and (max-width:920px){
  .babyPoney, .adulte,.ados, .horseball, .cso, .dressage, .cce, .pensionBox, .pensionPaddock, .ethologie, .rando{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h5{
    text-decoration: underline;
  }

  #babyPoneyImg{
    max-width: 50%;
    min-width: 250px;
    height: auto;
    margin-top: 2%;
  }

  #adulteImg {
    max-width: 55%;
    min-width: 250px;
    height: auto;
    margin-top: 2%;
  }

   #csoImg{
     max-width: 60%;
     min-width: 250px;
     height: auto;
     margin-top: 2%;
   }
   #dressageImg{
     max-width: 70%;
     min-width: 250px;
     height: auto;
     margin-top: 2%;
   }

    #cceImg{
      max-width: 70%;
      min-width: 250px;
      height: auto;
      margin-top: 2%;
    }
  #hbImg,  #boxImg, #paddockImg, #ethologieImg, #enfantsImg, #randoImg{
    max-width: 60%;
    min-width: 180px;
    height: auto;
    margin-top: 2%;
  }

}
